<% provide(:title, t("edit")) %>
<div class="row">
  <div class="col-md-6 col-md-offset-3 bg-white">
    <div class="animation-fadeIn sd-cof">
      <div class="login-title text-center">
        <h1>
          <small class="sml-cof">
            <strong><i class="fa fa-key"></i> <%= t ".change_pass" %></strong>
          </small>
        </h1>
      </div>
      <div class="block push-bit">
        <%= simple_form_for(resource, as: resource_name, html: {class: "form-horizontal form-bordered
          form-control-borderless", id: "form-login", method: :put},
            url: update_password_path) do |f| %>
          <%= f.hidden_field :skip_cv_validation, value: true %>

          <div class="form-group form-custom">
            <div class="col-xs-12">
              <div class="input-group">
                <%= f.password_field :password, class: "form-control input-custom input-lg",
                  placeholder: t(".password") %>
              </div>
              <span class="error-message">
                <%= f.full_error :password %>
              </span>
            </div>
          </div>
          <div class="form-group form-custom">
            <div class="col-xs-12">
              <div class="input-group">
                <%= f.password_field :password_confirmation, class: "form-control input-custom input-lg",
                  placeholder:t(".password_confirm") %>
              </div>
              <span class="error-message">
                <%= f.full_error :password_confirmation %>
              </span>
            </div>
          </div>
          <div class="form-group form-custom">
            <div class="col-xs-12">
              <div class="input-group">
                <%= f.password_field :current_password, class: "form-control input-custom", placeholder: t(".current") %>
              </div>
              <span class="error-message">
                <%= f.full_error :current_password %>
              </span>
            </div>
          </div>
          <div class="form-group form-custom form-actions">
            <div class="col-xs-12 text-right">
              <%= f.submit t(".update"), class: "btn btn-sm btn-success" do  %>
                <i class="fa fa-plus"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
