<tr>
  <td class="text-center">
    <%= link_to employers_job_path(job) do %>
      <strong><%= job.name %></strong>
    <% end %>
  </td>
  <td class="hidden-xs"><%= job.branch.name %></td>
  <td class="text-center"><strong><%= job.target %></strong></td>
  <td class="text-center">
    <%= link_to employers_job_path(job), class: "btn btn-default btn-xs" do %>
      <i class="fa fa-eye"></i>
    <% end %>
  </td>
</tr>
