<strong><%= start_index %>-<%= end_index %></strong> <%= t ".from" %> <strong><%= size %></strong>
<div class="btn-group btn-group-sm">
  <% if page.blank? || page <= 1 %>
    <button class="btn btn-sm btn-default" disabled="disabled">
      <i class="fa fa-angle-left"></i>
    </button>
  <% else %>
    <%= link_to employers_email_googles_path(page: (page - 1)), class: "btn btn-sm btn-default show-loading", remote: true do %>
      <i class="fa fa-angle-left"></i>
    <% end %>
  <% end %>

  <% if page.present? || page < (size / 10) %>
    <%= link_to employers_email_googles_path(page: (page + 1)), class: "btn btn-sm btn-default show-loading",remote: true do %>
      <i class="fa fa-angle-right"></i>
    <% end %>
  <% else %>
    <button class="btn btn-sm btn-default" disabled="disabled">
      <i class="fa fa-angle-right"></i>
    </button>
  <% end %>
</div>
