<%= simple_form_for [:employers, @template], remote: :true do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <label class="control-label date required" for="apply_status_offers_attributes_0_start_time_1i">
        <abbr title="required">*</abbr> <%= t ".name" %>
      </label>
      <%= f.input :name, class: "form-control", label: false %>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <label class="control-label date required" for="apply_status_offers_attributes_0_start_time_1i">
        <abbr title="required">*</abbr> <%= t ".title" %>
      </label>
      <%= f.input :title, class: "form-control", label: false %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <label class="control-label date required" for="apply_status_offers_attributes_0_start_time_1i">
        <abbr title="required">*</abbr> <%= t ".type" %>
      </label>
      <%= f.input :type_of, as: :select, collection: @type_template.map {|value, id| [t(".#{value}"), value]}, label: false %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <label class="control-label date required" for="apply_status_offers_attributes_0_start_time_1i">
        <abbr title="required">*</abbr> <%= t ".body" %>
      </label>
      <div id="text-template">
        <% if @template.template_body.present? %>
          <%= f.input :template_body, as: :ckeditor, label: false %>
        <% else %>
          <%= f.input :template_body, as: :ckeditor , value: view_template_body, label: false %>
        <% end %>
      </div>
      <% if @template.name.blank? %>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <abbr title="required">*</abbr><%= t ".note"%>
          <label class="switch switch-primary">
            <input type="checkbox" id="check-template">
            <span></span>
          </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="col-sm-12 hide-type" id="content-note">
            <span class="f13 note-style-a"><%= t ".infor" %></span><br>
            <span class="f11"><%= Settings.companies %></span>
            <span class="note-style"><%= t ".note_company" %></span><br>
            <span class="f11"><%= Settings.user %></span>
            <span class="note-style"><%= t ".note_user" %></span><br>
            <span class="f11"><%= Settings.address %></span>
            <span class="note-style"><%= t ".note_address" %></span><br>
            <span class="f11"><%= Settings.start_time %></span>
            <span class="note-style"><%= t ".note_start_time" %></span><br>
            <span class="f11"><%= Settings.end_time %></span>
            <span class="note-style"><%= t ".note_end_time" %></span><br>
            <span class="f11"><%= Settings.offer_address %></span>
            <span class="note-style"><%= t ".offer_address" %></span><br>
            <span class="f11"><%= Settings.requirement %></span>
            <span class="note-style"><%= t ".requirement" %></span><br>
            <span class="f11"><%= Settings.salary %></span>
            <span class="note-style"><%= t ".salary" %></span><br>
            <span class="f11"><%= Settings.currency_unit %></span>
            <span class="note-style"><%= t ".currency_unit" %></span><br>
            <span class="f11"><%= Settings.date_offer %></span>
            <span class="note-style"><%= t ".date_offer" %></span><br>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <center>
      <%= f.submit t(".save"), class: "btn btn-primary" %>
    </center>
  </div>
<% end %>
