<% if @error %>
  alertify.error('<%= @error %>');
<% elsif @candidate.errors.any? %>
  $('.help-block').remove();
  <% @candidate.errors.messages.each do |message| %>
    $('.error-message-<%= message.first %>')
      .append('<span class="help-block"><%= message.last.first %></span>')
    $('.input-<%= message.first %>')
      .css('border-color','red','important')
  <% end %>
<% elsif @error_record_invalid %>
  alertify.error('<%= @error_record_invalid %>');
<% elsif @success %>
  $('#table-candidates').html('<%= j render "table_candidates" %>');
  $('#add-candidate').modal('hide');
  $('#add-candidate-through-email').html('');
  alertify.success('<%= @success %>');
<% end %>
