<div class="row">
   <div class="col-sm-4 col-lg-3">
    <div class="block">
      <div class="block-title">
        <h2><i class="fa fa-ticket"></i> <strong><%= t ".candidate_information" %></strong></h2>
      </div>
      <div class="block">
        <div class="block-section text-center">
          <div class="col-xs-12">
            <% if @candidate.picture.present? %>
              <%= image_tag @candidate.picture, class: "img-circle img-avatar" %>
            <% else %>
              <%= image_tag "fallback/user_logo_default.png", class: "img-circle img-avatar" %>
            <% end %>
            <h3>
              <strong><%= @candidate.name %></strong><br><small></small>
            </h3>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class=" block-content-information">
          <table class="table table-hover table-borderless table-striped table-vcenter">
            <tbody>
              <tr>
                <td class="text-right"><%= t ".code" %></td>
                <td class="font-weight-normal"><span><%= @candidate.code %></span></td>
              </tr>
              <tr>
                <td class="text-right"><%= t ".email" %></td>
                <td class="font-weight-normal"><span><%= @candidate.email %></span></td>
              </tr>
              <tr>
                <td class="text-right"><%= t ".phone" %></td>
                <td class="font-weight-normal"><%= @candidate.phone %></td>
              </tr>
              <% if @candidate.cv.present? %>
                <tr>
                  <td class="text-right"><%= t "employers.cv" %></td>
                  <td>
                    <a href="<%= @candidate.cv.url %>" data-fancybox class="thumbnail-cv">
                      <i class="fa fa-tag fa-fw"></i><b><%= t "employers.view" %></b>
                    </a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-lg-9">
    <div id="table-applies">
      <%= render partial: "table_applies" %>
    </div>
  </div>
</div>
<div class="modal fade" id="add-apply" role="dialog"
  tabindex="-1" aria-hidden="true">
</div>
<%= javascript_include_tag "employers/select_step" %>
