<li class="active">
  <div class="timeline-icon <%= show_activity_icon activity %>"><i class="fa fa-file-text"></i></div>
  <div class="timeline-time">
    <small class="text-muted">
      <%= l activity.trackable_created_at, format: :default %>
    </small>
  </div>
  <div class="timeline-content">
    <% case activity.trackable_type %>
    <% when Apply.name %>
      <p class="push-bit">
        <strong>
          <%= t ".was_applied" %>
        </strong>
      </p>
    <% when ApplyStatus.name %>
      <p class="push-bit">
        <strong>
          <%= t "employers.applies.statuses.#{activity.trackable.status_step_code}" %>
        </strong>
      </p>
      <% if activity.trackable&.appointment %>
        <p class="push-bit font-weight-normal font-size-10 margin-bottom-0">
          <%= t "employers.history.start_time" %><%= show_time activity.trackable.appointment_start_time %>
        </p>

        <p class="push-bit font-weight-normal font-size-10 margin-bottom-0">
          <%= t "employers.history.end_time" %><%= show_time activity.trackable.appointment_end_time %>
        </p>
        <% if activity.trackable&.inforappointments.present? %>
          <p class="push-bit font-weight-normal font-size-10 margin-bottom-0">
            <%= t "employers.history.interviewer" %><%= show_interviewer activity.trackable.appointment.inforappointments %>
          </p>
        <% end %>
      <% end %>
    <% when EmailSent.name %>
      <p class="push-bit">
        <strong><%= t ".resend_email" %></strong>
      </p>
      <p class="push-bit font-weight-normal font-size-10 margin-bottom-0">
        <%= activity.trackable.title %>
      </p>
      <p>
        <%= link_to t("read_more"), "javascript:void(0)", class: "btn-see-more",
          data: {open: false, id: activity.id} %>
      </p>
      <div class="content-mail-activity display-none" id="content-mail-<%= activity.id %>">
        <%= raw activity.trackable.content %>
      </div>
    <% end %>
    <p class="push-bit">
      <small class="text-muted font-weight-normal"><%= t ".by", name: activity.owner&.name %></small>
    </p>
  </div>
</li>
