<%= stylesheet_link_tag "read_notification" %>
<%= stylesheet_link_tag "employer/hidepaginate" %>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><b><%= t ".yours_email_sents" %></b></h4>
    </div>
    <div class="modal-body">
      <ul class="list-group">
        <% if @email_sents.present? %>
          <%= render partial: "employers/email_sents/email", collection: @email_sents, as: :email_sent %>
        <% else %>
          <p class="text-danger text-center">
            <i class="fa fa-times"></i> <%= t ".not_email_sent" %>
          </p>
        <% end %>
      </ul>
      <div class="row text-center pag">
        <%= paginate @email_sents, remote: true %>
      </div>
    </div>
  </div>
</div>
