<div class="modal fade" id="my-<%= email_sent.id %>" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <i class="fa fa-info"></i>
            <%= t".information" %>
        </h4>
      </div>
      <div class="modal-body content-modal">
        <div class="row">
          <div class="col-md-12 text-center header-mailer-custom">
            <%= image_tag "logo.png" %>
            <h1><%= t "devise.mailer.header.app_name" %></h1>
          </div>
          <div class="col-md-12 content-mailer-custom">
            <%= raw email_sent.content %>
          </div>
          <div class="col-md-12 text-center footer-mailer-custom">
            <%= t "devise.mailer.footer.year" %>
            <strong><%= t "devise.mailer.footer.author" %></strong>
            <span><%= t "devise.mailer.footer.copyright" %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
