<tr class="item-<%= email_sent.status %>">
  <td class="text-center w-30">
    <a href="javascript:void(0)" class="text-muted msg-fav-btn"><i class="fa fa-star-o"></i></a>
  </td>
  <td class="text-center w-30">
    <a id="status-sent-inbox<%= email_sent.id %>" href="javascript:void(0)" class="<%= show_status_email email_sent %> msg-read-btn"><i class="fa fa-circle"></i></a>
  </td>
  <td class="w-20-p"><%= email_sent.user_name %></td>
  <td class="w-60-p">
    <%= show_status_apply_not_bold email_sent.status_step %>
    <a href="javascript" data-toggle="modal" data-target="#my-<%= email_sent.id %>">
      <strong><%= email_sent.title %></strong>
    </a>
  </td>
  <td id="cell-button-resend<%= email_sent.id %>" class="text-center">
    <% if !email_sent.success? %>
      <%= link_to "javascript:void(0)", class: "send_email btn btn-xs
        btn-#{show_status_email email_sent} pull-right l-5 #{disabled_block apply}" do %>
        <i class="fa fa-reply" aria-hidden="true"></i>
      <% end %>
      <%= link_to "", employers_send_email_path(email_sent), remote: true %>
    <% end %>
  </td>
  <td class="text-right font-weight-normal text-muted w-30-p">
    <%= time_ago_in_words(email_sent.created_at) %>
  </td>
</tr>
