<div class="row border-bottom-dash" onclick="window.location='<%= employers_apply_path email_sent.apply %>';">
  <li id="email-><%= email_sent.id %>">
    <div class="col-md-2 col-sm-2 col-xs-2">
      <div class="notify-img">
        <%= image_tag "frc.png", size: Settings.picture_user_width %>
      </div>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-10 pd-l0 notification"">
      <p class="font-weight-nor m-bottom-5">
        <%= t ".you_send_mail" %> <strong><%= email_sent.title %></strong> <%= t ".for" %>
        <strong><%= email_sent.apply_information[:name] %></strong> <%= t ".have_mail" %>
        <strong><%= email_sent.apply_information[:email] %></strong> <%= t ".about_job" %>
        <strong><%= email_sent.job_name %></strong>
      </p>
      <p class="time"><%= t ".time_ago", time: time_ago_in_words(email_sent.created_at) %></p>
      <p class="time pull-right color-<%= email_sent.status %>"><%= t("email_sents.#{email_sent.status}") %></p>
    </div>
  </li>
</div>
