<%= simple_form_for @evaluation, url: employers_apply_evaluations_path(apply_id: @apply.id) do |f| %>
  <%= f.hidden_field :apply_id, value: @apply.id, id: "apply" %>
  <div class="row">
    <table class="table table-bordered table-striped table-vcenter no-footer background-white font-weight-normal-only">
      <tr>
        <th class="text-center wt-30">
          <%= t ".skill_type" %>
          <label>
            <%= f.collection_select :interview_type_id, @company.interview_types,
              :id, :name, {}, {class: "form-control", id: "interview_type"} %>
          </label>
          <%= link_to_add_association "", f, :knowledges,
            partial: "knowledge_basic_fields", "data-association-insertion-node":
            "#knowledge tr:first-child", class: "fa fa-plus" %>
        </th>
        <th class="text-center"><%= t ".score" %></th>
        <th class="text-center"><%= t ".note" %></th>
        <th class="text-center"><%= t ".action" %></th>
      </tr>
      <tbody class="text-center" id="knowledge">
        <%= f.simple_fields_for :knowledges do |knowledge| %>
          <%= render "knowledge_basic_fields", f: knowledge if knowledge.object.skill.basic? %>
        <% end %>
        <tr class="text-left">
          <td colspan="4"><%= t ".other" %></td>
        </tr>
        <tr>
          <td colspan="4">
            <%= f.input :other, as: :ckeditor, label: false, class: "form-control" %>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-striped table-vcenter no-footer background-white font-weight-normal-only">
      <tr>
        <th colspan="3"><%= t ".evaluate_writing" %></th>
      </tr>
      <tr>
        <th class="text-center wt-30">
          <%= t ".writing_skills" %>
          <%= link_to_add_association "", f, :knowledges,
            partial: "knowledge_writing_fields",
            "data-association-insertion-node": "#writing tr:first-child",
            class: "fa fa-plus" %>
        </th>
        <th class="text-center"><%= t ".evaluation" %></th>
        <th class="text-center"><%= t ".action" %></th>
      </tr>
      <tbody class="text-center" id="writing">
        <tr></tr>
        <%= f.simple_fields_for :knowledges do |knowledge| %>
          <%= render "knowledge_writing_fields", f: knowledge
            if knowledge.object.skill.writing? %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row text-center">
    <%= f.submit t(".save"), class: "btn btn-primary" %>
  </div>
<% end %>
