<tr>
  <td>
    <div class="menu-body">
      <h2><%= t ".received" %></h2>
      <b class="title-first">
        <%= t ".user" %>
      </b>
      <p class="count">
        <%= t ".have_interview" %>
        <b><%= @apply.information[:name] %></b>.
        <%= t ".arrange" %>,
        <%= t ".from" %>
        <b><%= l @appointment.start_time.to_time %></b>
        <%= t ".to" %>
        <b><%= l @appointment.end_time.to_time %></b>
        <%= t ".at" %>
        <b><%= @appointment.address %></b>
      </p>
    </div>
  </td>
</tr>
