<div id="sidebar" class= "sloiad">
  <div id="sidebar-scroll">
    <div class="sidebar-content">
      <%= link_to employers_company_path(@company), class: "sidebar-brand" do %>
         <%= image_tag "frc.png", size: Settings.frc.size %>
        <span class="sidebar-nav-mini-hide"><strong><%= t ".employer" %></span>
      <% end %>

      <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
        <div class="sidebar-user-avatar">
          <%= image_tag @company.logo.url %>
        </div>
        <div class="sidebar-user-name"><%= @company.name %></div>
      </div>

      <ul class="sidebar-nav">
        <li>
          <%= link_to employers_dashboards_path do  %>
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            &nbsp;<span class="sidebar-nav-mini-hide lion font-style-normal"><%= t ".dashboard" %></span>
          <% end %>
        </li>

        <li class="title-header">
            <span class="title-sidebar"><%= t ".manage-candidate" %></span>
        </li>

        <li>
          <a href="#" class="sidebar-nav-menu hasmi">
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="fa fa-minus"></i>
            &nbsp;<span class="sidebar-nav-mini-hide lion font-style-normal"><%= t ".sidebar_jobs" %></span></a>
          <ul>
            <li>
              <%= link_to employers_jobs_path do %>
                <span class="sidebar-nav-mini-hide lion loulight"><%= t ".all_jobs" %></span>
              <% end %>
            </li>
          </ul>
        </li>

        <li>
          <%= link_to employers_company_candidates_path(@company) do %>
            <i class="fa fa-users" aria-hidden="true"></i>
            <span class="sidebar-nav-mini-hide lion font-style-normal"><%= t ".candidates" %></span>
          <% end %>
        </li>

        <li>
          <%= link_to "javascript:void(0)", class: "sidebar-nav-menu hasmi" do %>
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
            <i class="fa fa-clone"></i>
            &nbsp;<span class="sidebar-nav-mini-hide lion font-style-normal"><%= t ".apply" %></span>
          <% end %>
          <ul>
            <li>
              <%= link_to new_employers_apply_path do %>
                <span class="sidebar-nav-mini-hide lion loulight"><%= t ".new_apply" %></span>
              <% end %>
            </li>
            <li>
              <%= link_to employers_applies_path do %>
                <span class="sidebar-nav-mini-hide lion loulight"><%= t ".applies" %></span>
              <% end %>
            </li>
          </ul>
        </li>


        <li>
          <%= link_to employers_email_googles_path do %>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span class="sidebar-nav-mini-hide lion font-style-normal"><%= t ".email_googles" %></span>
          <% end %>
        </li>


        <li class="title-header">
            <span class="title-sidebar"><%= t ".manage_interview" %></span>
        </li>
        <% if can? :manage, :interview %>
          <li>
            <%= link_to employers_interviews_path do %>
              <i class="fa fa-binoculars"></i>
              <span class="sidebar-nav-mini-hide lion font-style-normal"><%= t ".interviews" %></span>
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to employers_evaluations_path do %>
            <i class="fa fa-file"></i>
            <span class="sidebar-nav-mini-hide lion font-style-normal"><%= t ".evaluations" %></span>
          <% end %>
        </li>

        <li class="title-header">
            <span class="title-sidebar"><%= t ".company_setting" %></span>
        </li>

        <li>
          <%= link_to edit_employers_company_path @company do %>
            <i class="fa fa-building-o gli hight"></i>
            <span class="sidebar-nav-mini-hide lion font-style-normal"><%= t ".company" %></span>
          <% end %>
        </li>

        <li>
          <a href="#" class="sidebar-nav-menu hasmi">
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="fa fa-users"></i>
            &nbsp;<span class="sidebar-nav-mini-hide lion font-style-normal"><%= t ".member" %></span></a>
          <ul>
            <li>
              <%= link_to employers_members_path do %>
                &nbsp;<span class="sidebar-nav-mini-hide lion loulight"><%= t ".all_member" %></span>
              <% end %>
            </li>
          </ul>
        </li>

        <li>
          <a href="#" class="sidebar-nav-menu hasmi">
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="fa fa-book"></i>
            &nbsp;<span class="sidebar-nav-mini-hide lion font-style-normal"><%= t ".skills" %></span></a>
          <ul>
            <li>
              <%= link_to employers_skills_path do %>
                &nbsp;<span class="sidebar-nav-mini-hide lion loulight"><%= t ".all_skills" %></span>
              <% end %>
            </li>
          </ul>
        </li>

        <li>
          <%= link_to employers_templates_path  do %>
            <i class="fa fa-columns" aria-hidden="true"></i>
            <span class="sidebar-nav-mini-hide lion font-style-normal"><%= t ".template" %></span>
          <% end %>
        </li>

        <li class="title-header">
            <span class="title-sidebar"><%= t ".personal-setting" %></span>
        </li>

        <li>
          <%= link_to "javascript:void(0)", class: "connect-google" do %>
            <i class="fa fa-google" aria-hidden="true"></i>
            <span class="sidebar-nav-mini-hide lion font-style-normal"><%= t ".connect_gmail" %></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<%= javascript_include_tag "employers/sidebar_employer" %>
