<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag "frc.png" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "homepages/homepage", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "homepage", "data-turbolinks-track": "reload" %>

  </head>

  <body>
      <%= render "layouts/homepage/header" %>
      <%= yield %>
      <%= render "layouts/homepage/footer" %>
  </body>
</html>
