<%= form_for :skill_set, url: employers_skill_sets_path, remote: true do |f| %>
  <div class="col-sm-10">
    <%= f.hidden_field :interview_type_id, value: interview_type.id %>
    <%= f.hidden_field :skill_name, id: "skill-name" %>
    <%= f.select :skill_id, options_for_select(skills.collect{|s| [s.name, s.id]}),
      {}, {class: "select-chosen", multiple: true, id: "example-chosen-multiple"} %>
  </div>
  <div class="col-sm-2">
    <%= f.submit t(".add"), class: "btn btn-alt btn-sm btn-default" %>
  </div>
<% end %>
<%= javascript_include_tag "employer/plugins", "data-turbolinks-track": "reload" %>
<%= javascript_include_tag "employer/app", "data-turbolinks-track": "reload" %>
