<%= stylesheet_link_tag "employer/checkbox" %>
<%= javascript_include_tag "employers/show_email_sent_table" %>

<% if data_step[:appointment].present? %>
  <div class="col-md-6">
    <div class="block full overcast-custom <%= disabled_block apply %>">
      <div class="block-title">
        <div class="block-options pull-right">
        </div>
        <h2>
          <i class="fa fa-history"></i>
          <strong><%= t "employers.history.title_appointment" %></strong>
        </h2>
      </div>
      <%= render partial: "employers/applies/appointment", locals: {appointment: data_step[:appointment]} %>
    </div>
  </div>
<% end %>

<% if data_step[:offers].present? %>
  <div class="col-md-6">
    <div class="block full overcast-custom">
      <div class="block-title">
        <h2>
          <i class="fa fa-history"></i>
          <strong><%= t ".offer_history" %></strong>
        </h2>
      </div>
      <ul class="media-list">
        <%= render partial: "employers/applies/offers_list", collection: data_step[:offers], as: :offer %>
      </ul>
    </div>
  </div>
<% end %>

<div class="col-sm-12">
  <div class="block">
    <div class="block-title">
      <div class="block-options pull-right">
        <% if (@prev_apply_status && @prev_apply_status.id == apply_status.id) || apply_status.current? %>
          <%= link_to new_employers_apply_status_path(status_step_id:
            status_step.id, apply_id: apply.id, apply_status_id: apply_status.id),
            class: "btn btn-sm btn-alt btn-default animation-pulse", remote: true do %>
              <i class="fa fa-pencil"></i><%= t ".compose_email" %>
          <% end %>
        <% end %>
      </div>
      <h2><%= t".sent_mail" %> <strong>(<%= data_step[:email_sents].count %>)</strong></h2>
    </div>
    <div class="table-responsive">
      <% if data_step[:email_sents].present? %>
        <table id="email-sent-table" class="table table-hover table-vcenter">
          <thead>
            <tr>
              <td colspan="3">
                <div class="btn-group btn-group-sm">
                  <a id="all-email" href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Archive Selected"><%= t ".all" %></a>
                  <a id="sending-email" href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Star Selected"><%= t ".sending" %></a>
                  <a id="success-email" href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Delete Selected"><%= t ".success" %></a>
                  <a id="failure-email" href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Delete Selected"><%= t ".failure" %></a>
                </div>
              </td>
            </tr>
          </thead>
            <%= hidden_field_tag "val_step", @data_step[:status_step_lastest].code %>
            <%= (render partial: "employers/email_sents/email_sent",
              collection: data_step[:email_sents], as: :email_sent,
              locals: {status_step: status_step, apply: apply, apply_status: apply_status})%>
        </table>
      <% else %>
        <p class="text-center text-danger">
          <i class="fa fa-times"></i> <%= t "employers.no_data" %>
        </p>
      <% end %>
    </div>
  </div>
</div>
<%= (render partial: "employers/email_sents/email_sent_modal",
  collection: data_step[:email_sents], as: :email_sent) %>
